body {

    line-height: 1.8;
    color: Black;
   font-family:Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;

}
p {font-size: 16px;}
.margin {
     text-align: center;
     margin-bottom: 45px;
     color: Black;
        }
.background-one {
    background-color: #FF6A6A; /* nau */
    color: #ffffff;
}
.background-two {
    background-color: #474e5d; /* den */
    color: #ffffff;
}
.background-three {
    background-color: #2f2f2f; /* den dam */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar  li a:hover {color:#1abc9c !important;}
         li a {   text-decoration: none;
                  color: white;
                }
.navbar              {


                  background-color: #2f2f2f;
                }
.navbar-brand{
  color: Black;
  text-decoration: none;
  font-size: 30px;
}
.text-content ol {
  color: white;
}
            ol li a {
              color: white;
            }
.navbar-header{
  text-align: center;

}
