body {

    line-height: 1.8;
    color: #CD5C5C;font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;

}
p {font-size: 16px;}
.margin {
     text-align: left;
     margin-bottom: 45px;
     color: white;
        }
.background-one {

    background-image:url("2x4xbs.jpg" );
    color: Black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.background-one  li a:hover {color:#1abc9c !important;}
.background-two {
  background-color: #828282;
  text-align: center;
  color: white;

}
.background-three {
  background-color: white;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar  li a:hover {color:#1abc9c !important;}
         li a {   text-decoration: none;
                  color: Black;

                }



.navbar-brand{
  color: Black;
  text-decoration: none;
  font-size: 30px;
}

.navbar-header{
  text-align: left;
}
.navbar ul {
 width: 100%;
 height: 40px;
 text-align: right ;
}
.navbar ul li{
 display: inline-table;
 padding:0px 15px;
 line-height: 40px
transition:all 1s 0s linear;

}
